* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-SemiBold.ttf');
  font-weight: 600;
}

body {
  font-family: 'Work Sans';
  font-weight: 400;
  color: rgb(100, 100, 100);
}

.wrapper-full {
  width: 100%;
  background-color: #f5f5f5;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  border: 3px solid #e7e7e7;
}

.title-main {
  color: #011c58;
  font-weight: 600;
  font-size: 46px;
  text-align: center;
  padding: 40px 0px;
}

.main__content_headers p {
  font-weight: 600;
}


/*add*/

.product {
  font-weight: 500;
  font-size: 18px;
}

.border-icon {
  width: 70px;
  height: 70px;
  border: 1px solid rgb(156, 154, 154);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


/*headers*/

.headers {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr 1fr 1fr;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

.headers__title {
  margin: 0 40px;
}


/*content*/

.product {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr 1fr 1fr;
  margin-top: 100px;
  position: relative;
}

.product__item {
  display: flex;
  place-self: center;
  margin: 0 40px;
}

.headers::after {
  content: '';
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(211, 211, 211);
}

.product::after {
  content: '';
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(211, 211, 211);
}


/*content-descr*/

.product__description {
  justify-self: start;
}

.product__text {
  place-self: center;
}

.product__text h2 {
  font-size: 28px;
}

.product__text p {
  line-height: 200%;
}

.product__image {
  margin-right: 40px;
  width: 150px;
  height: 150px;
}


/*content-size*/

.product__size {
  font-weight: 600;
}


/*content-quantity*/

.product__quantity--minus {
  border: 0;
  border-top: 1px solid rgb(156, 154, 154);
  border-bottom: 1px solid rgb(156, 154, 154);
  border-left: 1px solid rgb(156, 154, 154);
  background-color: #001840;
  transition: all .3s ease;
}

.product__quantity--minus:hover {
  background-color: #02112c;
}

.product__quantity--plus {
  border: 0;
  border-top: 1px solid rgb(156, 154, 154);
  border-bottom: 1px solid rgb(156, 154, 154);
  border-right: 1px solid rgb(156, 154, 154);
  background-color: #f5f5f5;
  transition: all .3s ease;
}

.product__quantity--plus:hover {
  background-color: #e0e0e0;
}

.minus {
  font-size: 22px;
  color: rgb(219, 219, 219);
}

.headers__quantity {
  justify-self: start;
}


/*content-remove*/

.product__image-close {
  width: 12px;
  height: 12px;
  opacity: .70;
}


/*content-price*/

.product__price {
  font-size: 32px;
  font-weight: 600;
}


/*calc*/

.calculation {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  width: 100%;
  margin-top: 100px;
}

.calculation__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  border: 2px solid rgb(211, 211, 211);
  padding: 30px;
  color: rgb(100, 100, 100);
  font-weight: 500;
}


/* .main__content_calc_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
} */

.calculation__title {
  font-size: 22px;
  padding-top: 5px;
}

.calculation__price {
  font-size: 30px;
  font-weight: 600;
}


/*check*/

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 100px;
}

.footer-content__promo {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  position: relative;
  margin-right: 30px;
}

.footer-content__input {
  flex-grow: 1;
  height: 60px;
  outline: none;
  border: 0;
  border-top: 2px solid rgb(211, 211, 211);
  border-bottom: 2px solid rgb(211, 211, 211);
  border-left: 2px solid rgb(211, 211, 211);
  font-size: 16px;
  font-weight: 600;
  padding-left: 20px;
}

.footer-content__title {
  z-index: 100;
  position: absolute;
  top: -60px;
  left: 40px;
}

.footer-content__input::-webkit-input-placeholder {
  color: rgb(100, 100, 100);
  letter-spacing: .5px;
}

.button-footer {
  width: 310px;
  height: 60px;
  background-color: #001840;
  color: white;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  text-align: left;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .5px;
  transition: all .3s ease;
}

.button-footer:hover {
  background-color: #06152f;
}

.button-footer--white {
  background-color: #f5f5f5;
  color: rgb(100, 100, 100);
  border: 2px solid rgb(211, 211, 211);
}

.button-footer--white:hover {
  background-color: #dddddd;
}

.shopping_button {
  margin-bottom: 16px;
}

.button-footer:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.footer-content__shopping {
  display: flex;
  flex-direction: column;
}

.footer-content__checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content__cart {
  width: 60px;
  height: 100%;
  border-left: 2px solid white;
  padding-left: 20px;
  padding-top: 18px;
}

.footer-content__img {
  width: 20px;
  height: 20px;
}