/*button-large*/

.button.button-large {
  width: 200px;
  height: 70px;
  font-size: 18px;
  color: #818181;
  border: 3px solid #818181;
}

.button.button-large.button-filled {
  background-color: #818181;
}

/*button-primary*/

.button.button-primary {
  width: 160px;
  height: 60px;
  font-size: 17px;
  color: #9975AB;
  border: 3px solid #9975AB;
}

.button.button-primary.button-filled {
  background-color: #9975AB;
}

/*button-success*/

.button.button-success {
  width: 156px;
  height: 60px;
  font-size: 17px;
  color: #8BC260;
  border: 3px solid #8BC260;
}

.button.button-success.button-filled {
  background-color: #8BC260;
}

/*button-medium*/

.button.button-medium {
  width: 130px;
  height: 60px;
  font-size: 16px;
  color: #4da5e2;
  border: 3px solid #4da5e2;
}

.button.button-medium.button-filled {
  background-color: #4da5e2;
}

/*button-warning*/

.button.button-warning {
  width: 120px;
  height: 50px;
  font-size: 14px;
  color: #ffcc66;
  border: 3px solid #ffcc66;
}

.button.button-warning.button-filled {
  background-color: #ffcc66;
}

/*button-red*/

.button.button-red {
  width: 70px;
  height: 40px;
  font-size: 12px;
  color: #ED7161;
  border: 3px solid #ED7161;
}

.button.button-red.button-filled {
  background-color: #ED7161;
}

/*general styles*/

.button {
  outline: none;
  margin: 10px;
  background-color: #ffffff;
  font-family: sans-serif;
  font-weight: 600;
}

.button:hover {
  opacity: .85;
  cursor: pointer;
}

.button.button-semirounded {
  border-radius: 6px;
}

.button.button-rounded {
  border-radius: 30px;
}

.button.button-filled {
  color: #ffffff;
}