* {
  margin: 0px;
  padding: 0px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: #f9b58c;
  font-family: 'Tahoma';
  font-weight: 500;
}

.container {
  width: 450px;
  margin: 0 auto;
  box-shadow: 20px 20px 20px rgba(75, 75, 75, 0.404);
}

/*Date*/
.date-header {
  width: 450px;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(218, 218, 218);
}

.date-header__info {
  color: #7384ff;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.arrows {
  font-size: 20px;
  font-weight: bold;
  padding: 0 20px;
  cursor: pointer;
  color: #7384ff;
}

.todo-list__month {
  color: #b8c0ff;
}

/*main*/
.todo-list {
  padding: 10px 0;
  width: 450px;
  background-color: #fff;
  min-height: 380px;
}

.todo-list-item {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0px 30px;
  transition: all .2s ease-in-out;
}

.todo-list-item:hover {
  background-color: rgb(216, 216, 216);
}

.todo-list-item__checkbox {
  width: 20px;
  height: 20px;
  outline: none;
  border: none;
  transition: all .2s ease;
}

.todo-list-item__name {
  flex-grow: 1;
  padding-left: 30px;
  color: #8492ff;
  font-size: 18px;
}

.todo-list-item__time {
  color: #d5daff;
}

/*footer*/

.footer-todo-list {
  width: 450px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0px 30px;
  border-top: 1px solid rgb(218, 218, 218);
}

.footer-todo-list__total {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  color: #aeb6fd;
}

.footer-todo-list__add-button {
  padding: 20px 20px 20px 20px;
  color: #697afd;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.footer-todo-list__add-button:hover, .footer-todo-list__add-button:hover:active {
  background-color: rgb(216, 216, 216);
}

.todo-list-item__name--completed {
  color: rgb(203, 209, 250);
  text-decoration: line-through;
}